<ion-view view-title="home" hide-nav-bar="true" hide-back-button="true">
    <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-energized">
        <ion-tab title="Daily">
            <ion-nav-view name="tab-1" class="tab-view" style="height: 100% !important">
                <ion-content padding="true" has-header="false Profile" style="background-color: #f1f1f1 !important;">
                    <div class="card">
                        <div class="item item-text-wrap">
                            <div class="row detailsRow">
                                <div class="card_heading"> I/O Info</div>
                                <div class="card_heading_date">
                                    <select name="viewChange" ng-model="viewDailyIoInfo">
                                        <option value="Data">Data</option>
                                        <option value="Graph" selected>Graph</option>
                                    </select>
                                    <select name="ioMonthChange" ng-model="ioMonth" ng-change="DailyIoMonthChnaged(ioMonth,'I/O','io-bar-info',ioYear)" class="monthDropdown" >
                                        <option value={{month}} ng-repeat="month in monthArray">{{month}}</option>
                                    </select>
                                    <select name="ioYearChange" ng-model="ioYear" ng-change="DailyIoYearChnaged(ioYear,'I/O','io-bar-info',ioMonth)" class="monthDropdown">
                                        <option value={{year}} ng-repeat="year in yearArray">{{year}}</option>
                                    </select>
                                </div>
                                <div class="graph_table">
                                    <span ng-if="barGraphData.length == 0" class="norecord">No record available</span>
                                    <bar-graph id='io-bar-info' data="{{barGraphData}}" ng-if="barGraphData.length != 0 && viewDailyIoInfo == 'Graph'"></bar-graph>
                                    <div class="table_info" ng-if="barGraphData.length != 0 && viewDailyIoInfo == 'Data' ">
                                        <table class="table_info">
                                          <thead class="table_head">
                                              <tr>
                                                <td>Day</td>
                                                <td>Total</td>
                                              </tr>
                                          </thead> 
                                          <tbody class="table_body">
                                            <tr ng-repeat="bgd in barGraphData">
                                                <td>{{ bgd.day }}</td>
                                                <td>{{ bgd.total }}</td>
                                            </tr>
                                          </tbody>    
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Monthly">
            <ion-nav-view name="tab-2" class="tab-view" style="height: 100% !important">
                <ion-content padding="true" has-header="false Profile" style="background-color: #f1f1f1 !important;">
                    <div class="card">
                        <div class="item item-text-wrap">
                            <div class="row detailsRow">
                                <div class="card_heading"> I/O Info</div>
                                <div class="card_heading_date"> 
                                    <select name="viewChange" ng-model="viewMonthlyIoInfo">
                                        <option value="Data">Data</option>
                                        <option value="Graph" selected>Graph</option>
                                    </select>
                                    <select name="ioYearChange" ng-model="ioYear" ng-change="MonthlyIoMonthChnaged(ioYear,'I/O','monthly-bar-info')" class="monthDropdown">
                                        <option value={{year}} ng-repeat="year in yearArray">{{year}}</option>
                                    </select>
                                </div>
                                <div class="graph_table">
                                    <span ng-if="groupBarGraphDataMonthly.length == 0" class="norecord">No record available</span>
                                    <group-bar-graph id='monthly-bar-info' data="{{groupBarGraphDataMonthly}}" ng-if="groupBarGraphDataMonthly.length != 0 && viewMonthlyIoInfo == 'Graph'"></group-bar-graph>
                                    <div class="table_info" ng-if="groupBarGraphDataMonthly.length != 0 && viewMonthlyIoInfo == 'Data' ">
                                        <table class="table_info">
                                          <thead class="table_head">
                                              <tr>
                                                <td>Month</td>
                                                <td>Actual Planned</td>
                                                <td>Actual Total</td>
                                              </tr>
                                          </thead> 
                                          <tbody class="table_body">
                                            <tr ng-repeat="gbm in groupBarGraphDataMonthly">
                                                <td>{{ monthArray[gbm.month] }}</td>
                                                <td>{{ gbm.plannedTotal }}</td>
                                                <td>{{ gbm.actualTotal }}</td>
                                            </tr>
                                          </tbody>    
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Yearly">
            <ion-nav-view name="tab-3" class="tab-view">
                <ion-content padding="true" has-header="false Profile" style="background-color: #f1f1f1 !important;">
                    <div class="card">
                        <div class="item item-text-wrap">
                            <div class="row detailsRow">
                                <div class="card_heading"> I/O Info</div>
                                <div class="card_heading_date">
                                    <select name="viewChange" ng-model="viewYearlyIoInfo">
                                        <option value="Data">Data</option>
                                        <option value="Graph" selected>Graph</option>
                                    </select>
                                </div>
                                <div class="graph_table">
                                    <span ng-if="groupBarGraphDataYearly.length == 0" class="norecord">No record available</span>
                                    <group-bar-graph id='yearly-bar-info' data="{{groupBarGraphDataYearly}}" ng-if="groupBarGraphDataYearly.length != 0 && viewYearlyIoInfo == 'Graph' "></group-bar-graph>
                                    <div class="table_info" ng-if="groupBarGraphDataYearly.length != 0 && viewYearlyIoInfo == 'Data' ">
                                        <table class="table_info">
                                          <thead class="table_head">
                                              <tr>
                                                <td>Actual Planned</td>
                                                <td>Actual Total</td>
                                              </tr>
                                          </thead> 
                                          <tbody class="table_body">
                                            <tr ng-repeat="gby in groupBarGraphDataYearly">
                                                <td>{{ gby.plannedTotal }}</td>
                                                <td>{{ gby.actualTotal }}</td>
                                            </tr>
                                          </tbody>    
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
