<ion-content padding="true" class="has-header Profile" style="background-color: #f1f1f1 !important;">
      <div class="card" style="margin: 7px;margin-top: 60px;">
          <div class="item item-text-wrap" style="padding: 2px 5px 2px 5px;">
            <div class="row">
                <div class="marqueeContainer">
                    <div class="marquee">
                          <div class="img1">{{bulletin}}</div>
                    </div>
                </div>
            </div>
            <div class="marqueeContainer">
                <div class="logoContainer">
                    <div class="logo" ng-repeat="p in plants"> 
                        <img src={{p.logoURL}}>
                    </div>
                </div>
            </div>
          </div>
       </div>
      
       <div class="card" style="margin: 7px;">
         <div class="item item-text-wrap" style="padding: 10px 10px 0px 10px;">
           <div class="row" style="display: block;">
              <div class="card_heading"> 
                  Supplier Rating
              </div>
              <div style="margin-left: -20px;">
                  <stack-graph id='stacked-bar' data="{{stackGraphData}}"></stack-graph>
              </div>
           </div>
         </div>
       </div>
       <div class="card" style="margin: 7px;">
         <div class="item item-text-wrap" style="padding: 10px 10px 0px 10px;">
           <div class="row" style="display: block;">
              <div class="card_heading"> I/O Info </div>
              <div class="card_heading_date" > Jan 1 - Jan 30
                  <span ng-click="showIoDetails()" style="float: right;margin-left: 15px;">
                      Details<i class="icon ion-information-circled" id="menu_i_icon_"></i>
                  </span>
              </div>
              <div  style="margin-left: -20px;">
                <bar-graph id='io-bar' data="{{barGraphData}}"></bar-graph>
              </div>
           </div>
         </div>
       </div>
    
       <div class="card" style="margin: 7px;">
         <div class="item item-text-wrap" style="padding: 10px 10px 0px 10px;">
           <div class="row" style="display: block;">
              <div class="card_heading"> Sales Info </div>
              <div class="card_heading_date" > Jan 1 - Jan 30 
                <span ng-click="showSalesDetails()" style="float: right;margin-left: 15px;">
                    Details <i class="icon ion-information-circled" id="menu_i_icon_"></i>
                </span>
              </div>
              <div  style="margin-left: -20px;">
                <bar-graph id='sales-bar' data="{{salesInfoBarGraphData}}"></bar-graph>
              </div>
           </div>
         </div>
       </div>
      
    </ion-content>