<ion-content padding="true" class="has-header Profile" style="background-color: #f1f1f1 !important;">
    <div class="card" style="margin: 7px;margin-top: 60px;">
        <div class="item item-text-wrap" style="padding: 10px 10px 0px 10px;">
            <div class="row" style="display: block;">
                <div class="card_heading">
                    Maintenance
                </div>
                <div style="margin-left:0px;">
                    <div class="tab-content" style="min-width: 100% !important;">
                        <table>
                            <tr>
                                <td class="border-bu input-header">
                                    <span class="table_col_header"> Bulletien </span><br>
                                    <span class="table_col_value"> 
                                        <input type="text" class="edit_profile_input" ng-model="settingsCtrl.profileDetails.bulletin">
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <div class="signIn">
                            <button class="update-button" ng-click="settingsCtrl.profileUpdate(settingsCtrl.profileDetails)">Update</button>
                        </div>
                    </div>
                    <div class="rating-heading">Ratings</div>
                    <div class="tab-content" style="min-width: 100% !important;">
                        <div class="table_info" style="padding-left: 3%;padding-right: 3%;">
                            <table class="table_info">
                                <thead class="table_head">
                                    <tr>
                                        <td class="half-width">Month</td>
                                        <td class="half-width">Rate</td>
                                    </tr>
                                </thead>
                                <tbody class="table_body">
                                    <tr ng-repeat="mn in settingsCtrl.monthArray">
                                        <td>{{ mn }}</td>
                                        <td><input type="number" class="edit_profile_input" ng-model="settingsCtrl.profileDetails.monthRatings[($index+1)]"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="update">
                            <button class="update-button" ng-click="settingsCtrl.profileUpdate(settingsCtrl.profileDetails)">Update</button>
                        </div>
                    </div>
                    <div class="tab-content" style="min-width: 100% !important;">
                        <div class="table_info" style="padding-left: 3%;padding-right: 3%;">
                            <table class="table_info">
                                <thead class="table_head">
                                    <tr>
                                        <td class="half-width">Year</td>
                                        <td class="half-width">Rate</td>
                                    </tr>
                                </thead>
                                <tbody class="table_body">
                                    <tr ng-repeat="yr in settingsCtrl.yearArray">
                                        <td>{{ yr }}</td>
                                        <td><input type="number" class="edit_profile_input" ng-model="settingsCtrl.profileDetails.yearRatings[($index+1)]"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="update">
                            <button class="update-button" ng-click="settingsCtrl.profileUpdate(settingsCtrl.profileDetails)">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
